@charset "UTF-8";

body {
    background-color: rgb(107, 107, 241);
    color: white;
    font: normal 15pt arial;
    background-image: url()
}
header{
    text-align: center;
}
section{
    background-color: white;
    color: #000;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000027;
    width: 500px;   
}
div{
    text-align: center;
    padding: 5px;
}
img{
    border-radius: 50%;
    width: 280px;
    height: 280px;
    padding: 10px;

}
footer{
    text-align: center;
    font-style: italic;
}